pkgbase = ros-noetic-catkin
	pkgdesc = ROS - Low-level build system macros and infrastructure for ROS.
	pkgver = 0.8.10
	pkgrel = 3
	url = https://wiki.ros.org/catkin
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = python-catkin_pkg
	makedepends = python-empy
	makedepends = python
	depends = python-nose
	depends = gtest
	depends = python-catkin_pkg
	depends = python-empy
	depends = gmock
	depends = python
	depends = ros-build-tools
	source = ros-noetic-catkin-0.8.10.tar.gz::https://github.com/ros/catkin/archive/ff31d451ce1c68d47bc058a4693aad6c0fb63a43.tar.gz
	sha256sums = 5884a16cc6e3cf28274a5d209011caef53e1b9133ed22b9866f6f0dcc0acda8a

pkgname = ros-noetic-catkin
